body{
  font-family: 'poppins';
}

.heading{
    color: black;
    font-family: 'Poppins';
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}
.heading1{
  color: black;
  font-family: 'Poppins';
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.asset-box{background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 10px;
    padding: 30px 20px;
}
.asset-box:hover{
  box-shadow: 0 0 25px rgb(23 23 23 / 25%);
}
  .down-arrow1{  
    background: #F4B24D;
    font-size: 17px;
    line-height: 34px;
    /* box-shadow: 0 0 25px rgb(23 23 23 / 25%); */
    height: 10px!important;
    width: 10px;
    padding: 5px 15px;
    margin-right: 50px;
    margin-top: 20px;
    float: left;
    border-radius: 100%;
    display: inline-table;
    transform: rotate(-90deg);
    transition: 0.4s;

  }


  a:hover {
    color: unset;
}
  a{
    text-decoration: none;
  }
  /* Style the tab */
  .tab {
   display: block!important;
    overflow: hidden;
    /* border: 1px solid #ccc;
    background-color: #f1f1f1; */
  }
  .banner-content1 {
    padding: 40px 20px !important;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    -webkit-transition-duration: .4s;
    width: 33.33%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    
    transition: 0.3s;
    font-size: 17px;
  }
 
 .tab button:hover {
 
  transform: translate3d(0,-5px,0);
  }
  
  /* Create an active/current tablink class */
 .tab button.active .asset-box {
    box-shadow: 0 0 25px rgb(23 23 23 / 25%);
    transform: translateY(-10px); !important;
    background: #fcfcfc;
  }

  .tab button .asset-box:hover .down-arrow1{
    transform: rotate(0deg) !important;
    background: #4cc1b3;
  }

.tab button.active .asset-box .down-arrow1{
  transform: rotate(0deg) !important;
  background: #4cc1b3;
}

  .assess-img-sec {
    position: relative;
}

.assess-content{
  transition: 0.3s !important;
}

.assess-content:hover img {
    transform: scale(1.2);
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    margin-top: 20px;
  }

  .assess-img{
    text-align: end;
    height: 90px;
    width: auto!important;
    transition: 0.3s;
  }
  .assess-content{
    text-align: end;
  }
  .tab-section{
   margin-top: -130px;
}
  .banner-content{
    padding: 30px 0px;
  }
  .content-section{
    background: #f4b24d;
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
  }
  .content-img {
    width: 100%;
    height: auto;
    padding: 30px;
}
  .btn-get-quote {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.btn-get-quote2 {
  border: 1px solid #F4B24D;
  background: #F4B24D;
border-radius: 50px;
  padding: 10px 25px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
  .button-section{
    margin: 30px 0px;
  }
  .content-list{
    margin: 20px 0px;
  }
  .text-white{
    color:white;
  }
  ul {
    padding: 0;
    list-style: unset;
    margin-top: 0;
    margin-bottom: 1rem;
}
.protect-color{
  color:#4CC1B3;
}
.font-weight-500{
  font-size: 14px;
  font-weight: 300;
}

  ul li{
    
    text-decoration: none;
    list-style: unset;
    font-size: 13px;
    margin-bottom: 15px;
    color:white;
  }
  .content-list2 ul li{
    font-size: 14px;
    margin-bottom: 15px;
    color:#000;
  }
  .margin-right-5px{
    margin-right: 5px;
  }
  a:hover {
    color:white;
    }
    .content-heading{
      margin-bottom: 20px;
      font-weight: 600;
    font-size: 22px;
    }
    .content-heading-title{
      font-weight: 600;
      font-size: 16px;
    }

    .content-section3 {
      position: relative;
      /* background: #f4b24d; */
      border-radius: 10px;
      padding: 30px 50px 30px 50px;
      background: linear-gradient(306deg, #4cc1b3 1.87%, #4cc1b3 80.9%, #3ca094 80.91%);
  }

    .content-img3 {
      top: 10px;
      position: absolute;
      width: 300px;
      height: 300px;
      padding: 30px;
  }

 
    .content-section2 {
      position: relative;
      /* background: #f4b24d; */
      border-radius: 10px;
      padding: 30px 50px 30px 50px;
      background: linear-gradient(119deg, #fafafa 1.87%, #fafafa 80.9%, #f4f4f4 80.91%);
  }

.content-img2 {
  top: 10px;
  position: absolute;
  width: 500px;
  height: 500px;
  padding: 30px;
}

@media (max-width: 575px){
  .tab button {
    width: 100%;
   }
  .content-section {
    padding: 10px 10px;
}
.content-section2 {
  padding: 10px 10px;
}
.content-section3 {
  padding: 10px 10px;
}
.content-img3 {
  top: 10px;
  position:relative;
  width: 100%;
  height: auto;
  padding: 30px;
}
.content-img2 {
  top: 10px;
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px;
}
}