<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>MSME Accelerate</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="MSME Accelerate">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon.png">
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
        <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
        <link rel="stylesheet" type="text/css" href="css/v-style.css" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <div class="top-bar bg-blue1 text-white border-bottom border-color-black-transparent d-none d-md-inline-block">
                <div class="container-lg nav-header-container">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="col-12 text-center text-sm-start col-sm-auto me-auto ps-lg-0">
                            <ul class="social-icon padding-5px-tb">
                                <li><a class="text-fast-blue-hover text-white" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="text-fast-blue-hover text-white" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="text-fast-blue-hover text-white" href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="text-fast-blue-hover text-white" href="http://www.youtube.com" target="_blank"><i class="fab fa-instagram"></i></a></li>                                
                            </ul>
                        </div>
                        <div class="col-auto d-none d-sm-block text-end px-lg-0 font-size-0">
                            <div class="top-bar-contact">
                                <span class="top-bar-contact-list">
                                    <i class="feather icon-feather-phone-call text-blue3"></i>
                                    1-800-222-000
                                </span>
                                <span class="top-bar-contact-list">
                                    <i class="far fa-envelope text-blue3"></i>
                                    <a href="mailto:info@yourdomain.com" class="text-white">info@yourdomain.com</a>
                                </span>
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg top-space navbar-light bg-blue4 header-light fixed-top ">
                <div class="container-lg nav-header-container">
                    <div class="col-6 col-lg-2 me-auto ps-lg-0">
                        <a class="navbar-brand" href="index.html">
                            <img src="img/logo_msmew.png" data-at2x="img/logo_msmew.png" class="default-logo" alt="">
                            <img src="img/logo_msmew.png" data-at2x="img/logo_msmew.png" class="alt-logo" alt="">
                            <img src="img/logo_msmew.png" data-at2x="img/logo_msmew.png" class="mobile-logo" alt="">
                        </a>
                    </div>
                    <div class="col-auto col-lg-8 menu-order px-lg-0">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class=" collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Home</a>
                                </li>
                               <!--  <li class="nav-item dropdown simple-dropdown">
                                    <a href="#" class="nav-link">About Us</a>
                                </li> -->
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="#" class="nav-link">Our Products</a>
                                    
                                    
                                </li>
                                <li class="nav-item dropdown megamenu">
                                    <a href="javascript:void(0);" class="nav-link">Cliam Assistance</a>
                                  
                                    
                                </li>
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="#" class="nav-link">Blogs</a>
                                    
                                    
                                </li>
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="#" class="nav-link">Career</a>
                                    
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-lg-2 text-end pe-0 font-size-0">
                        <!-- <div class="header-search-icon search-form-wrapper margin-10px-right d-xs-none">
                            <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="feather icon-feather-search"></i></a>
                            
                            <div class="form-wrapper">
                                <button title="Close" type="button" class="search-close alt-font">×</button>
                                <form id="search-form" role="search" method="get" class="search-form text-start" action="search-result.html">
                                    <div class="search-form-box">
                                        <span class="search-label alt-font text-small text-uppercase text-medium-gray">What are you looking for?</span>
                                        <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                           
                        </div> -->
                         <!-- <a href="login.html" class="btn theme-btn-3 text-uppercase">Book Consultation</a> -->
                       <a href="login.html" class="btn theme-btn-1 text-uppercase">Login</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start section -->
        <section class="h-vh padding-55px-tb bg-blue4">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 xs-margin-20px-bottom">
                        <h2 class="text-extra-dark-gray font-weight-700 ">
                            Find the right <span class="text-blue2">Insurance</span> for your <span class="text-blue3">Business</span>
                        </h2>
                        <h5 class="text-extra-dark-gray font-weight-300 main-font">Business Insurance Simplified!</h5>
                        <div class="btn-contain">
                            <a href="#" class="btn theme-btn-2 text-uppercase">Get Quote Now</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="img/home_banner2.png" alt="" />
                    </div>


                </div>
               
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class=" padding-55px-tb wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col position-relative">
                        <div class="swiper-container black-move swiper-pagination-bottom" data-slider-options='{ "loop": false, "slidesPerView": 1, "spaceBetween": 30, "observer": true, "observeParents": true, "autoplay": { "delay": 4500, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination", "clickable": true, "dynamicBullets": true }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } } }'>
                            <div class="swiper-wrapper">
                                <!-- start testimonial item -->
                                <div class="swiper-slide">
                                    <a href="#">
                                    <div class="testimonials-style-02 box-shadow border-radius-5px overflow-hidden">
                                        <img alt="" class="d-inline-block" src="img/sec_1_1.jpg">
                                        <div class="testimonials-content padding-1-half-rem-all text-center bg-white lg-padding-1-half-rem-lr">
                                            <h6 class="text-extra-dark-gray m-0 margin-15px-bottom">Marine Insurance</h6>
                                           
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <!-- end testimonial item -->
                                <!-- start testimonial item -->
                                <div class="swiper-slide">
                                    <a href="#">
                                    <div class="testimonials-style-02 box-shadow border-radius-5px overflow-hidden">
                                        <img alt="" class="d-inline-block" src="img/sec_1_2.jpg">
                                        <div class="testimonials-content padding-1-half-rem-all text-center bg-white lg-padding-1-half-rem-lr">
                                            <h6 class="text-extra-dark-gray m-0 margin-15px-bottom">Property Insurance</h6>
                                            
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <!-- end testimonial item -->
                                <!-- start testimonial item -->
                                <div class="swiper-slide">
                                    <a href="#">
                                    <div class="testimonials-style-02 box-shadow border-radius-5px overflow-hidden">
                                        <img alt="" class="d-inline-block" src="img/sec_1_3.jpg">
                                        <div class="testimonials-content padding-1-half-rem-all text-center bg-white lg-padding-1-half-rem-lr">
                                            <h6 class="text-extra-dark-gray m-0 margin-15px-bottom">Liability Insurance</h6>
                                            
                                        </div>
                                    </div>
                                </a>
                                </div>

                                 <div class="swiper-slide">
                                    <a href="#">
                                    <div class="testimonials-style-02 box-shadow border-radius-5px overflow-hidden">
                                        <img alt="" class="d-inline-block" src="img/sec_1_4.jpg">
                                        <div class="testimonials-content padding-1-half-rem-all text-center bg-white lg-padding-1-half-rem-lr">
                                            <h6 class="text-extra-dark-gray m-0 margin-15px-bottom">Engineering</h6>
                                           
                                        </div>

                                    </div>
                                </a>
                                </div>
                                <!-- end testimonial item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <section class="padding-55px-tb wow animate__fadeIn bg-blue4">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-7 position-relative text-end md-margin-30px-bottom">
                                    <img src="img/about_home.jpg" alt="" data-no-retina="">
                                    <div class="bg-gra1 text-white text-start alt-font text-extra-large w-300px padding-3-rem-tb padding-1-half-rem-lr position-absolute left-0px text-center top-60px xs-top-10px md-w-250px sm-padding-1-rem-all md-padding-2-rem-all">
                                    We are backed by Technology but not blindly run by machines !!
                                    </div>
                    </div>
                  
                    <div class="col-lg-5">
                        <h4 class="alt-font text-extra-dark-gray font-weight-700">About <span class="text-blue1">MSME</span> <span class="text-blue3">Accelerate</span></h4>
                       
                       <p class="text-extra-dark-gray margin">MSME Accelerate is an ecosystem catering to the needs of Small, Medium, Micro Enterprises and Start-ups. We enable Insurance providers/Intermediaries to identify and evaluate risks unique to corporate and provide expert guidance on Insurance, Finance, Claims, Employee Wellness and other related matters.</p>

                       <p class="text-extra-dark-gray">We believe that each company is unique in its business, structure and environment. That’s why there is no one size that fits for all with standard offering or one click support. We enable providers to assess your business scenario in detail and customize the tailor made program for you. We help you in valuation of your assets and liabilities to arrive at right mixture of coverage required at the right time with entire eco system support. We also enable Insurance Brokers and Agents with Modernized Tools, Marketing/Training contents and Technology to grow their brand and support their Insurance Business in this segment.MSME Accelerate is a consulting arm of <span class="text-blue1">Mititek Ventures</span>. We enable Protection, don’t sell Insurance.</p>
                        

                       <!--  <div class="btn-area">
                            <a href="#" class="btn theme-btn-2 text-uppercase">Know more</a>
                        </div> -->

                    </div>

                     
                </div>
            </div>
        </section>



        <!-- <section class="padding-55px-tb wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                </div>


                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <h4 class="alt-font text-extra-dark-gray font-weight-700"><span class="text-blue1">Lorem</span> Ipsum</h4>
                        <p class="text-extra-dark-gray">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellat molestiae, commodi eius reiciendis ad provident, nesciunt asperiores perferendis aliquam inventore minus libero dolore ullam earum quasi, facilis vitae vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi provident quo eos dolor facere possimus architecto incidunt illum cupiditate maxime voluptas obcaecati, pariatur sint nesciunt blanditiis, earum autem laudantium?
                        </p>
                        <p class="text-extra-dark-gray">
                           Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Asperiores dicta, impedit, quo expedita enim iste nihil cupiditate et sit nobis sapiente ex assumenda vero vitae, numquam soluta earum, neque autem.
                        </p> -->
                        <!-- <div class="btn-area">
                            <a href="#" class="btn theme-btn-2 text-uppercase">Know more</a>
                        </div> -->
                    <!-- 
                    </div>
                       <div class="col-lg-7">
                        <img src="img/about_home1.jpg" alt="">
                    </div>
                    

                   
                </div>
            </div>
        </section> -->

        <section class="padding-55px-tb wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center margin-20px-bottom">
                        <h4 class="alt-font text-extra-dark-gray font-weight-700"><span class="text-blue1">MSME</span> Accelerate Edge</h4>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-center">
                    <!-- start feature box item -->
                    <div class="col text-center md-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <a href="#" class="text-medium-gray text-fast-blue-hover cursor-default">
                            <img src="img/ico_1.png" alt="" class="edge-ico">
                            <span class="alt-font font-weight-600 text-extra-dark-gray text-uppercase d-block">Strong Brand Equity</span>
                        </a>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col text-center md-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <a href="#" class="text-medium-gray text-fast-blue-hover cursor-default">
                            <img src="img/ico_2.png" alt="" class="edge-ico">
                            <span class="alt-font font-weight-600 text-extra-dark-gray text-uppercase d-block">Extensive Service Network</span>
                        </a>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col text-center md-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <a href="#" class="text-medium-gray text-fast-blue-hover cursor-default">
                            <img src="img/ico_3.png" alt="" class="edge-ico">
                            <span class="alt-font font-weight-600 text-extra-dark-gray text-uppercase d-block">Comprehensive Product </span>
                        </a>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col text-center sm-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <a href="#" class="text-medium-gray text-fast-blue-hover cursor-default">
                            <<img src="img/ico_4.png" alt="" class="edge-ico">
                            <span class="alt-font font-weight-600 text-extra-dark-gray text-uppercase d-block">Technology Differentiaton</span>
                        </a>
                    </div>
                    <!-- end feature box item -->
                    
                </div>
            </div>
        </section>

        <section class="padding-55px-tb bg-blue4 wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center margin-six-bottom">
                        <h4 class="alt-font text-extra-dark-gray font-weight-700">Product <span class="text-blue1">Strength</span></h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="fas fa-fire icon-medium text-blue3"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Fire</span>
                                <p class="text-extra-dark-gray">Fire insurance policy covers damage and losses caused by fire and helps to cover the cost of replacement, repair or reconstruction of property. We offer 250+ occupancy types, value added services & can assess risk through remote video and provide a recommendation report.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="fas fa-ship icon-medium text-blue3"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Marine</span>
                                <p class="text-extra-dark-gray">We offer variety of value-added services and customized solutions in our marine insurance. Our loss control consulting services further enhance our value proposition. Our vast experience in logistics planning and execution of Over Dimensional Consignments (ODC) across India makes us a trusted insurance partner.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="fas fa-cogs icon-medium text-blue3"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Engineering</span>
                                <p class="text-extra-dark-gray">Our customized and unique solutions drafted by our technical experts for various industries put us at the forefront of risk management. We continue to expand our footprint in this segment and provide value-added & risk management solutions to MSME, SME & corporate clients through our technology driven platforms.</p>
                            </div>
                        </div>                        
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 wow animate__fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="fas fa-money-check-alt icon-medium text-blue3"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Trade Credit</span>
                                <p class="text-extra-dark-gray">Trade credit insurance (TCI) is a method for protecting a business against its commercial customers’ inability to pay for products or services, whether because of bankruptcy, insolvency, or political upheaval in countries where the trade partner operates.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>


        <section class="padding-55px-tb wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
               <div class="row justify-content-center">
                    <div class="col-md-12 text-center margin-six-bottom">
                        <h4 class="alt-font text-extra-dark-gray font-weight-700">What's <span class="text-blue1">New</span></h4>
                    </div>
                </div>
               <div class="row text-center row-cols-1 row-cols-lg-4 row-cols-sm-2">
                    
                                    <div class="col interactive-banners-style-01 margin-30px-bottom xs-margin-15px-bottom">
                                        <div class="interactive-banners-image border-radius-6px bg-dark-slate-blue">
                                            <img src="img/new_1.jpg" class="scale" alt="" data-no-retina="">
                                            <div class="interactive-banners-hover bg-gradient-extra-dark-gray-transparent">
                                                <div class="d-table h-100 w-100">
                                                    <div class="d-table-cell align-bottom padding-3-half-rem-tb xs-padding-6-half-rem-tb">
                                                        <a href="#" class="rounded-icon bg-blue3 interactive-banners-icon"><i class="feather icon-feather-arrow-right text-white"></i></a>
                                                        <div class="font-weight-500 line-height-normal alt-font text-white text-large interactive-banners-title">Business Shield</div>
                                                        <div class="font-weight-500 line-height-normal alt-font text-uppercase interactive-banners-sub-title"><a href="#" class="text-white text-medium text-decoration-line-bottom">Explore Now</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                      

                            
                                    <div class="col interactive-banners-style-01 margin-30px-bottom xs-margin-15px-bottom">
                                        <div class="interactive-banners-image border-radius-6px bg-dark-slate-blue">
                                            <img src="img/new_2.jpg" class="scale" alt="" data-no-retina="">
                                            <div class="interactive-banners-hover bg-gradient-extra-dark-gray-transparent">
                                                <div class="d-table h-100 w-100">
                                                    <div class="d-table-cell align-bottom padding-3-half-rem-tb xs-padding-6-half-rem-tb">
                                                        <a href="#" class="rounded-icon bg-blue3 interactive-banners-icon"><i class="feather icon-feather-arrow-right text-white"></i></a>
                                                        <div class="font-weight-500 line-height-normal alt-font text-white text-large interactive-banners-title">Package Insurance</div>
                                                        <div class="font-weight-500 line-height-normal alt-font text-uppercase interactive-banners-sub-title"><a href="#" class="text-white text-medium text-decoration-line-bottom">Explore Now</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                         

                     
                                    <div class="col interactive-banners-style-01 margin-30px-bottom xs-margin-15px-bottom">
                                        <div class="interactive-banners-image border-radius-6px bg-dark-slate-blue">
                                            <img src="img/new_3.jpg" class="scale" alt="" data-no-retina="">
                                            <div class="interactive-banners-hover bg-gradient-extra-dark-gray-transparent">
                                                <div class="d-table h-100 w-100">
                                                    <div class="d-table-cell align-bottom padding-3-half-rem-tb xs-padding-6-half-rem-tb">
                                                        <a href="#" class="rounded-icon bg-blue3 interactive-banners-icon"><i class="feather icon-feather-arrow-right text-white"></i></a>
                                                        <div class="font-weight-500 line-height-normal alt-font text-white text-large interactive-banners-title">Business Shield</div>
                                                        <div class="font-weight-500 line-height-normal alt-font text-uppercase interactive-banners-sub-title"><a href="#" class="text-white text-medium text-decoration-line-bottom">Explore Now</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                         

                        
                                    <div class="col interactive-banners-style-01 margin-30px-bottom xs-margin-15px-bottom">
                                        <div class="interactive-banners-image border-radius-6px bg-dark-slate-blue">
                                            <img src="img/new_4.jpg" class="scale" alt="" data-no-retina="">
                                            <div class="interactive-banners-hover bg-gradient-extra-dark-gray-transparent">
                                                <div class="d-table h-100 w-100">
                                                    <div class="d-table-cell align-bottom padding-3-half-rem-tb xs-padding-6-half-rem-tb">
                                                        <a href="#" class="rounded-icon bg-blue3 interactive-banners-icon"><i class="feather icon-feather-arrow-right text-white"></i></a>
                                                        <div class="font-weight-500 line-height-normal alt-font text-white text-large interactive-banners-title">Drone Insurance</div>
                                                        <div class="font-weight-500 line-height-normal alt-font text-uppercase interactive-banners-sub-title"><a href="#" class="text-white text-medium text-decoration-line-bottom">Explore Now</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                       

                              
                                   
                                    
                               
                            </div>
                                               <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </section>
        <!-- start footer -->



        <footer class="footer-dark bg-blue1">
            <div class="footer-top padding-three-tb lg-padding-eight-tb md-padding-50px-tb">
                <div class="container">
                    <div class="row">
                       <!--  <div class="col-12 col-lg-2 col-sm-6 xs-margin-25px-bottom">
                           
                        </div> -->
                        <!-- start footer column -->
                         
                        <div class="col-12 col-lg-3 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                            <h6 class="alt-font font-weight-500 d-block margin-20px-bottom text-blue3 xs-margin-10px-bottom">Get in Touch</h6>
                            <!-- <p class="w-85 margin-15px-bottom">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Similique, blanditiis</p> -->
                            <div><i class="feather icon-feather-phone-call icon-very-small margin-10px-right text-white"></i>9987764627</div>
                            <div><i class="feather icon-feather-mail icon-very-small margin-10px-right text-white"></i><a href="#">consult@raghnall.co.in</a></div>
                            <h6 class="alt-font font-weight-500 d-block margin-20px-tb text-blue3 xs-margin-10px-bottom">Quick Links </h6>
                            <ul class="text-light-gray">
                             
                                <li><a href="#" class="text-light-gray">Claim Assistance</a></li>
                                <li><a href="#" class="text-light-gray">Blogs</a></li>
                                <li><a href="#" class="text-light-gray">Contact us</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-lg-3 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                            <h6 class="alt-font font-weight-500 d-block margin-20px-bottom text-blue3 xs-margin-10px-bottom">Employee Benefits</h6>
                            <ul>                           
                                <li><a href="#">Workmen's Compensation</a></li>
                                <li><a href="#">Group Health</a></li>
                                <!-- <li><a href="#">Marine Insurance</a></li>
                                <li><a href="#">Liability Insurance</a></li> -->
                            </ul>
                            <h6 class="alt-font font-weight-500 d-block margin-20px-tb text-blue3 xs-margin-10px-bottom">Marine Insurance</h6>
                            <ul>                           
                                <li><a href="#">Marine Transist</a></li>
                                <li><a href="#">Marine Open</a></li>
                                <!-- <li><a href="#">Marine Insurance</a></li>
                                <li><a href="#">Liability Insurance</a></li> -->
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                         <div class="col-12 col-lg-3 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                            <h6 class="alt-font font-weight-500 d-block margin-20px-bottom text-blue3 xs-margin-10px-bottom">Property Insurance</h6>
                            <ul>                           
                                <li><a href="#">Bharat Griha Raksha</a></li>
                                <li><a href="#">Bharat Sookshma Udyam</a></li>
                                 <li><a href="#">Bharat Laghu Udyam</a></li>
                                <!-- <li><a href="#">Marine Insurance</a></li>
                                <li><a href="#">Liability Insurance</a></li> -->
                            </ul>
                            <h6 class="alt-font font-weight-500 d-block margin-20px-tb text-blue3 xs-margin-10px-bottom">Engineering Insurance</h6>
                            <ul>                           
                                <li><a href="#">Contractor's All Risk</a></li>
                                <li><a href="#">Contractor's Plant and Machineries</a></li>
                                <li><a href="#">Erection All Risk</a></li>
                                <!-- <li><a href="#">Marine Insurance</a></li>
                                <li><a href="#">Liability Insurance</a></li> -->
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-lg-3 col-sm-6">
                            <h6 class="alt-font font-weight-500 d-block margin-20px-bottom text-blue3 xs-margin-10px-bottom">Corporate Cyber</h6>
                            <ul>                           
                                <li><a href="#">Directors & Officers</a></li>
                                <li><a href="#">Corporate Cyber</a></li>
                                <li><a href="#">Erection All Risk</a></li>
                                <li><a href="#">Professional indemnity for CA</a></li>
                                <li><a href="#">Professional indemnity for MP</a></li>
                                <li><a href="#">Comprehensive General</a></li>
                                <!-- <li><a href="#">Marine Insurance</a></li>
                                <li><a href="#">Liability Insurance</a></li> -->
                            </ul>
                           
                     
                        </div>

                        <!-- end footer column -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom padding-20px-tb border-top border-color-white-transparent">
                <div class="container"> 
                    <div class="row align-items-center">
                       
                        <div class="col-md-6 last-paragraph-no-margin sm-margin-20px-bottom">
                            <p class="text-light-gray">© 2022 Copyright All Right Reserved <a href="index.html" class="text-blue3" target="_blank">MSME Accelerate</a></p>
                        </div>
                        <div class="col-12 col-md-6 text-center text-md-end">
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon light">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
        <!-- end scroll to top -->
        <!-- javascript -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/theme-vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        
    </body>
</html>


