<!doctype html>
<html lang="en">
	<body style="margin: 0;font-family: Arial, Helvetica, sans-serif;">
	
	
		<div style="max-width:630px;margin: 0 auto;border: thin solid #f3f0f0;">
			<header style="text-align:center;">
				<a href="http://www.statusquo.in/"><img style="max-width:100%;display: block;" src="banner.jpg"></a>
			</header>
			<div style="background:#25BCBD;margin:0 8%;padding: 7% 8% 6%;">
				<p style="font-size: 17px;letter-spacing: 0.5px;text-align:center;line-height: 30px;color:#fff;margin:0;">
					Hi, Your order number <strong>001234</strong> has been<br>
					successfully placed. It is expected to be delivered between
					<strong>19/12/2017 - 22/12/2017</strong>
				</p>
			</div>
			<img style="display:block;max-width:100%;" src="order_details.jpg">
			
			<div style="background:#EDEDED;padding: 20px 7%;font-size: 14px;text-align: left;">
				<div style="width:55%;background:#EDEDED;text-align: left;display: inline-block;margin-bottom: 10px;">
					<p style="margin:0">
						<strong>Order Details</strong><br>
						Order No.: 001234<br><br>
						Payment Mode: COD<br>
						Expected delivery Date: Thu, 19 - 22 Dec 2017
					</p>
				</div>
				<div style="width:44%;background:#EDEDED;text-align: left;display: inline-block;margin-bottom: 10px;">
					<p style="padding-left:7%;margin:0">
					<strong>Delivery Details</strong><br>
					Customer Name<br>
					F-19, Nanddham Industrial Estate,<br>
					Marol Maroshi Road, Andheri East,<br>
					Mumbai 400 059.
					</p>
				</div>
				<p style="text-align: left;margin-bottom: 0;">
					<a href="#" style="background: #000;color: #f3eded;padding: 5px 20px;text-decoration: none;font-size: 15px;display: inline-block;">TRACK ORDER</a>
				</p>
			</div>
			
			<div style="padding: 0px 30px;">
				<p style="text-align: left;text-align: left;border-bottom: 2px solid #727171;padding-bottom: 4px;"><strong>Item(s) in Your Order</strong></p>
				<table style="border-collapse: collapse;width: 100%;">
					<tr style="border-bottom: 2px solid #CCCECF;">
						<td style="width: 85px;padding-bottom: 10px;vertical-align: top;"><img src="prd.jpg" style="width:85px;height:97px;border: 2px solid gray;" /></td>
						<td style="text-align: left;vertical-align: top;padding-left: 15px;padding-bottom: 10px;">
							<p style="margin: 0;"><strong>Navy Solid Track Pant</strong></p>
							<p style="margin: 0;"><span style="color:gray;">Size:</span> M | <span style="color:gray;">Quantity:</span> 1</p><br>
							<p style="margin: 0;"><strong>Will be delivery by Sunday, 22 Dec, 2017</strong></p>
						</td>
						<td style="vertical-align: top;width: 150px;text-align: right;padding-bottom: 10px;">Rs.: 850 &nbsp; <del style="color:gray;">Rs.: 1599</del></td>
					</tr>
					<tr style="border-bottom: 2px solid #CCCECF;color: #808080;">
						<td style="text-align:left;" colspan="2">Price</td>
						<td style="text-align:right;">Rs.: 850</td>
					</tr>
					<tr style="border-bottom: 2px solid #CCCECF;color: #808080;">
						<td style="text-align:left;" colspan="2">Voucher Discount</td>
						<td style="text-align:right;">-Rs.: 50</td>
					</tr>
					<tr style="color: #808080;">
						<td style="text-align:left;" colspan="2">Shipping</td>
						<td style="text-align:right;">+Rs.: 50</td>
					</tr>
					<tr style="border-bottom: 1px solid #000;border-top: 1px solid #000;font-weight: bold;">
						<td style="text-align:left;" colspan="2">Total</td>
						<td style="text-align:right;">Rs.: 850</td>
					</tr>
				</table>
			</div>
			
			<div style="margin-top: 18px;">
			<img style="max-width:100%;margin-bottom:13px;" src="ourshop.jpg">
			<a href="#"><img style="max-width:100%;width:32%;" src="tees.jpg"></a>
			<a href="#"><img style="max-width:100%;width:32%;" src="shirt.jpg"></a>
			<a href="#"><img style="max-width:100%;width:32%;" src="bottom.jpg"></a>
			</div>
			<footer style="background:url('footer_bg1.jpg');padding-bottom:5px;">
			
				<div style="text-align:center;border-bottom:1px solid #fff">
					<h3 style="color: #fff;letter-spacing: 1.5px;font-size: 16px;padding-top:10px;">Customer Care</h3>
					
					<p style="color: #fff;font-size: 12px;letter-spacing: 1px;margin-top:-7px;line-height:22px;">
						<a style="color: #fff;font-size: 12px;letter-spacing: 1px;text-decoration: none;" href="tel:+91 2242214600">+91 2242214600</a> / 
						
						<a style="color: #fff;font-size: 12px;letter-spacing: 1px;text-decoration: none;" href="tel:+91 8588000151">+91 8588000151</a> <br> 
						
						<a style="color: #fff;font-size: 12px;letter-spacing: 1px;text-decoration: none;" href="mailto:info@statusquo.in">info@statusquo.in</a>
					</p>
				</div>
				<div style="text-align: center;margin-top:10px;">
					<a href="#"><img style="max-width:100%;margin:0 15px" src="facebook.png"></a>
					<a href="#"><img style="max-width:100%;margin:0 15px" src="instagram.png"></a>
					<a href="#"><img style="max-width:100%;margin:0 15px" src="twitter.png"></a>
				</div>				
		    </footer>
		</div>
	</body>
</html>