<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Risk Assessment Report</title>
	
</head>
<body style="margin: 0 auto;">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tbody>
		<tr>
			<td align="center">

				<table class="col-600" width="1000" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:20px;" bgcolor="#b6fdff">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
   <tbody>
   <tr>
	<td align="center" valign="top">

    <table class="col-600" width="900" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:10px 0px;" bgcolor="white">
      
<tbody>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td align="center">
       <img src="img/emialer-logo-iserve.png">
   </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td align="center"><h4 style="text-align: center;margin: 0px; font-size: 30px;  line-height:30px; font-family: 'Poppins', sans-serif; color:#e85305;"><span style="color:#141d60; font-weight:bolder ;">Welcome  </span><span srtyle="color:#e85305;"> Employee Name!</span></h4></td>
</tr>
<tr>
  <td height="20"></td>
</tr>
      <tr>
        <td>
<table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" background="img/banner.png" style="margin:20px 50px; background-repeat: no-repeat;
height: 400px;  
background-size: cover;
background-position: right;position: relative;"
>
 <tbody>
    

      <tr><td><h4 style="width:450px; font-size: 29px; text-align: left; line-height:35px; top: 50px;
        left: 55px; font-weight: 900; font-family: 'Poppins', sans-serif; position: absolute;">Healthcare and Insurance,
        all under one roof for you
        and your family!</h4></td></tr>
        <tr><td>
        <p style="width:380px; font-size: 14px; text-align: left; bottom: 120px;
        left: 55px; font-family: 'Poppins', sans-serif; position: absolute;">We are here to help you make the most of your
          coverage and protect what matters most.</p></td></tr>
   
      </tbody>
      </table>
    </td>
    </tr>      

    <tr>
      <td>
<table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:10px 50px;">
<tbody>
  

    <tr><td>
      <h4 style="font-size: 22px; text-align: left;padding: 0px; margin: 5px 0px;
    font-weight: 900; font-family: 'Poppins', sans-serif; color:#1ab2d4">Greetings <spna style="color:#141d60;">from </spna> <span style="color:#e85305;"> iSerrve by Raghnall!</span></h4></td></tr>

      <tr><td>
      <p style="font-size: 15px; text-align: left;color:#212a69; 
       font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">We are pleased to inform you that your <spna style="color:#e85305;"> Group Mediclaim Policy</spna> of <spna style="color:#e85305; font-weight: 900;">“Indiabulls Housing
              Finance Ltd.”</spna> is placed by us and the following are the Policy details:</p></td></tr>
              <tr>
                <td>
                  <ul style="font-size: 16px; color:#212a69; font-weight: 900;  font-family: 'Poppins', sans-serif;">
                    <li style="margin-bottom: 5px;">Insurance Company <span style="margin-right: 30px; margin-left: 30px"> : </span> <span style=" color:black; font-weight: 900;"> The Oriental Insurance Co. Ltd.</span></li>
                    <li  style="margin-bottom: 5px;">Policy Period <span style="margin-right: 30px; margin-left: 93px"> : </span> <span style=" color:black; font-weight: 900;"> 07-Sept-2021 to 06-Sept-2022</span></li>
                    <li style="margin-bottom: 5px;">Policy No <span style="margin-right: 30px; margin-left: 123px"> : </span> <span style=" color:black; font-weight: 900;">332204-48-2022-367</span></li>
                    <li style="margin-bottom: 5px;">TPA  <span style="margin-right: 30px; margin-left: 167px"> : </span> <span style=" color:black; font-weight: 900;">Health India Insurance TPA Services Pvt. Ltd. </span></li>
                  </ul>
                </td>
              </tr>
              
        
 
    </tbody>
    </table>
    <table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:10px 50px 0px 50px; padding: 30px;" bgcolor="#f4e0d7">
      <tbody>
      
      
      
          <tr><td>
          <p style="font-size: 15px; text-align:center;color:#212a69; 
           font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">At iSerrve, we are committed to providing our customers with top-quality products and services.
      Explore our wide range of exclusive benefits specially curated for you and your family:</p></td></tr>
      <tr>
        <td height="20"></td>
      </tr>
                  <tr>
                    <td style="text-align: center;">
                      <img src="img/imag1.png" width="650px">
                    </td>
                  </tr>
                  <tr>
                    <td height="20"></td>
                  </tr> 
            
      
        </tbody>
        </table>
        <table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:0px 50px 0px 50px; padding:0px  30px;" bgcolor="#d1f2eb">
          <tbody>
          
          
          
              <tr>
                <td width="60%;">
              <p style="font-size: 17px; text-align:left;color:#212a69; 
               font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Discover the endless horizons of exclusive
benefits at iSerrve</p>
<a href="https://www.raghnall.co.in/iserrve/"><button style="font-size: 15px; text-align:left;color:#e85305; border: 1px solid #e85305;padding: 5px 15px;
font-family: 'Poppins', sans-serif;  margin: 05px 0px; font-weight: 700; text-transform: uppercase;">Click Here</button></a>
        </td>

        <td  width="40%" style="text-align: right;">
          <img src="img/banner-right.png" width="250px">
    </td>

      </tr>

       
                   
          
            </tbody>
            </table>
            <table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:0px 50px 0px 50px; padding:0px  30px;" bgcolor="#141d60">
              <tbody>
                <tr>
                  <td height="20"></td>
                </tr> 
                <tr><td>
                  <p style="font-size: 15px; text-align: left;color:#ffffff; 
                   font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 500;">Please follow the below steps to access the portal:</p></td></tr>
                <tr>
                  <td height="10"></td>
                </tr> 
                <tr>
                  <td>
                    <ul style="font-size: 14px; color:#ffffff; font-weight: 900;  font-family: 'Poppins', sans-serif;">
                      <li style="margin-bottom: 5px; color:rgb(255, 255, 255); font-weight: 400;">Click on the Login button (Top right) and select Employee</li>
                      <li  style="margin-bottom: 5px; color:rgb(255, 255, 255); font-weight: 400;"> First register yourself (one time) by adding your Employee Code (ABC123) and Group
                        Code ( RIBPL )</li>
                      <li style="margin-bottom: 5px; color:rgb(255, 255, 255); font-weight: 400;">Enter your name, email id and mobile number and click on Request OTP</li>
                      <li style="margin-bottom: 5px; color:rgb(255, 255, 255); font-weight: 400;">Enter the OTP received on your mobile number and click on verify</li>
                      <li style="margin-bottom: 5px; color:rgb(255, 255, 255); font-weight: 400;">Once the OTP is verified, user will be redirected to the home screen of our portal</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td height="10"></td>
                </tr>
                </tbody>
                </table>
                <table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:0px 50px 0px 50px; padding:0px  10px;" bgcolor="white">
                  <tbody>
                    <tr>
                      <td height="20"></td>
                    </tr> 
                    <tr><td>
                      <p style="font-size: 15px; text-align: left;color:#212a69;
                       font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Think of us as your employee benefits sherpas – review this info carefully and don't hesitate
to reach out if you've got any questions or worries.</p></td></tr>
<tr><td>
  <p style="font-size: 15px; text-align: left;color:#212a69;
   font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">We're here to help you make the most of your coverage!</p></td></tr>
<tr><td>
  <p style="font-size: 15px; text-align: left;color:#212a69;
   font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Don't let portal troubles bring you down – just drop us a line at <a href="mailto:sandeeppawar@raghnall.co.in" style="color:#1ab2d4">sandeeppawar@raghnall.co.in</a>
and we'll come to the rescue. Our customer service is always here for you, no matter what!</p></td></tr>
<tr><td>
  <p style="font-size: 15px; text-align: left;color:#212a69;
   font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Regards,
<br> Team iSerrve</p></td></tr>
                    <tr>
                      <td height="10"></td>
                    </tr> 
               
                    </tbody>
                    </table>


                    <table class="col-600" width="800" border="0" align="top" cellpadding="0" cellspacing="0" style="margin:0px 50px 0px 50px; padding:0px  30px;" bgcolor="#eef1ff">
                      <tbody>
                        <tr>
                          <td height="20"></td>
                        </tr> 
                        <tr><td>
                          <p style="font-size: 15px; text-align: center;color:#252e6d; 
                           font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Follow Us</p></td></tr>
                        <tr>
                          <td height="10"></td>
                        </tr> 
                     <tr style="text-align:center;">
                      <td>
                        <ul style="display:inline-flex;padding-left:0;list-style:none;margin:0px">

                                                

                          <li style="margin-right: 20px"><a href="https://www.facebook.com/people/iSerrve/100086144868126/" target="_blank"><img src="img/fb.png" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>

                     </li>

                    

                     <li style="margin-right: 20px"><a href="https://www.linkedin.com/company/iserrve/" target="_blank"> <img src="img/linkedin.png" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>

                     </li>

                        <li ><a href="https://www.instagram.com/iserrvebyraghnall/" target="_blank"> <img src="img/insta.png" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>

                     </li>

                   

                   </ul>
                      </td>
                     </tr>
                        </tbody>
                        </table>
  </td>
  </tr>   
  <tr>
    <td height="10"></td>
  </tr> 
  <tr><td>
    <p style="font-size: 15px; text-align: center;color:#e85305; 
     font-family: 'Poppins', sans-serif; padding: 0px; margin: 05px 0px; font-weight: 600;">Please do not reply to this mail as it is an auto generated mail.</p></td></tr>
   <tr>
    <td height="10"></td>
  </tr> 

    
              </tbody>
              </table>



                    </td>
                    </tr>
                
								  </tbody>
                  </table>





                                  


                                </td>
                                </tr>
                        </tbody>
                        </table>


	
			
</body>
			
</html>