<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/Raghnall.png" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">Raghnall</span>
          <!--<span class="text-secondary text-small">Project Manager</span>-->
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index1.php">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Employee Benefits</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="workmen.php">Workmen's Compensation</a></li>
          <li class="nav-item"> <a class="nav-link" href="grouphealth.php">Group Health Insurance</a></li>
        </ul>
      </div>
    </li>
    
    
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Marine</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="marinetransit.php">Marine Transit Insurance (Inland)</a>

        </li>
          <li class="nav-item"> <a class="nav-link" href="marineopen.php">Marine Open Insurance</a></li>
        </ul>
      </div>
    </li>
    
    
    
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Property</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic3">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="bharath_sookshma.php">Bharat Sookshma Udyam Suraksha Policy</a></li>
 <li class="nav-item"> <a class="nav-link" href="bharath_griha.php">Bharat Griha Raksha Policy</a></li>
           <li class="nav-item"> <a class="nav-link" href="bharath_laghu.php">Bharat Laghu Udyam Suraksha Policy</a></li>
        </ul>
      </div>
    </li>
    
    
    
   
    
    
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Liability</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic5">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="professionalca.php">Professional indemnity for CA</a></li>
<li class="nav-item"> <a class="nav-link" href="professionalmp.php" >Professional indemnity for medical practitioners</a></li>
           <li class="nav-item"> <a class="nav-link" href="corporate.php">Corporate cyber insurance</a></li>
           <li class="nav-item"> <a class="nav-link" href="director.php">Directors & Officers Insurance</a></li>
           <li class="nav-item"> <a class="nav-link" href="comprehensive.php">Comprehensive General Liability Insurance</a></li>
        </ul>
      </div>
    </li>
    
      <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Engineering</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic4">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="contractorallrisk.php">Contractor's All Risk</a></li>
<li class="nav-item"> <a class="nav-link" href="contractorplant.php">Contractor's Plant and Machinary</a></li>
           <li class="nav-item"> <a class="nav-link" href="erection.php">Erection All Risk</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="career.php">
        <span class="menu-title">Career</span>
        <!--<i class="mdi mdi-home menu-icon"></i>-->
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="bookconsultation.php">
        <span class="menu-title">Book Consultation</span>
        <!--<i class="mdi mdi-home menu-icon"></i>-->
      </a>
    </li>
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="pages/icons/mdi.html">-->
    <!--    <span class="menu-title">Icons</span>-->
    <!--    <i class="mdi mdi-contacts menu-icon"></i>-->
    <!--  </a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="pages/forms/basic_elements.html">-->
    <!--    <span class="menu-title">Forms</span>-->
    <!--    <i class="mdi mdi-format-list-bulleted menu-icon"></i>-->
    <!--  </a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="pages/charts/chartjs.html">-->
    <!--    <span class="menu-title">Charts</span>-->
    <!--    <i class="mdi mdi-chart-bar menu-icon"></i>-->
    <!--  </a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="pages/tables/basic-table.html">-->
    <!--    <span class="menu-title">Tables</span>-->
    <!--    <i class="mdi mdi-table-large menu-icon"></i>-->
    <!--  </a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">-->
    <!--    <span class="menu-title">Sample Pages</span>-->
    <!--    <i class="menu-arrow"></i>-->
    <!--    <i class="mdi mdi-medical-bag menu-icon"></i>-->
    <!--  </a>-->
    <!--  <div class="collapse" id="general-pages">-->
    <!--    <ul class="nav flex-column sub-menu">-->
    <!--      <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>-->
    <!--      <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>-->
    <!--      <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>-->
    <!--      <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>-->
    <!--      <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>-->
    <!--    </ul>-->
    <!--  </div>-->
    <!--</li>-->
    <!--<li class="nav-item sidebar-actions">-->
    <!--  <span class="nav-link">-->
    <!--    <div class="border-bottom">-->
    <!--      <h6 class="font-weight-normal mb-3">Projects</h6>-->
    <!--    </div>-->
    <!--    <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>-->
    <!--    <div class="mt-4">-->
    <!--      <div class="border-bottom">-->
    <!--        <p class="text-secondary">Categories</p>-->
    <!--      </div>-->
    <!--      <ul class="gradient-bullet-list mt-4">-->
    <!--        <li>Free</li>-->
    <!--        <li>Pro</li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--  </span>-->
    <!--</li>-->
  </ul>
</nav>